
h1 { font: Normal 30px/30px Cinzel;  color:#1E1D1D; }
h2 { font: Normal 24px/36px Cinzel;  color:#1E1D1D; }
h3 { font: Normal 20px/22px Cinzel;  color:#1E1D1D; }
h4 { font: Normal 14px/18px Arial, Helvetica, sans-serif;  color:#1E1D1D; }
h5 { font: Normal 14px/20px Arial, Helvetica, sans-serif;  color:#656565; }
h6 { font: Normal 12px/18px Arial, Helvetica, sans-serif;  color:#1e1d1d; }
#main { font: Normal 13px/20px Arial, Helvetica, sans-serif;  color:#656565; }
